<p><a class="pull-left btn btn-link" href="/#/articles">&laquo; Zurück</a></p>

<table class="table">
    <tr>
        <td>Titel</td>
        <td>{{article.title}}</td>
    </tr>
    <tr>
        <td>Untertitel</td>
        <td>{{article.subtitle}}</td>
    </tr>
    <tr>
        <td>Ver&ouml;ffentlichung</td>
        <td>{{article.release_date}}</td>
    </tr>
    <tr>
        <td>Schlagw&ouml;rter</td>
        <td><span ng-repeat="keyword in article.keywords">{{keyword.name}} </span> </td>
    </tr>
    <tr>
        <td>Kategorien</td>
        <td><span ng-repeat="category in article.categories">{{category.name}}<span ng-show="!$last">, </span></span></td>
    </tr>
</table>


<textarea id="annotation" class="textarea" placeholder="Enter text ..." style="width: 810px; height: 200px" ng-model="article.annotation"></textarea>


<p><a class="pull-left btn btn-link" href="/#/articles">&laquo; Abbrechen</a>
    <a class="pull-left btn btn-link" href="/#/articles">&laquo; Abbrechen</a></p>
